/* @import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Sintony:400,700&display=swap");

body {
  font-family: "Sintony", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color:	#0080ff; */
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  width: 24em;
  -ms-interpolation-mode: bicubic;
}

.MuiInputBase-input-24 {
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  margin: 1.5rem;
  color: #cc8f44;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  /* width: 50%; */
}

a:hover,
a:active,
a.active {
  color: #ff3700;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.redColor {
  color: #ff4b19;
}

.blueColor {
  color: #5555df;
}

#title {
  font-size: 1rem;
}

.brand {
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-top: auto;
}

@media screen and (max-width: 500px) {
  #title {
    display: none;
  }
  a {
    margin: 1.3rem;
  }
  .add-feed {
    margin: auto;
    display: inline-block;
  }
}
